<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="userPages/userBase::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>
<body>
<section class="d-flex justify-content-center align-items-center vh-120">
  <div class="text-center">
    <h1>Show Contacts</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark">
        <tr>
          <th>#</th> <!-- Serial ID -->
          <th>Name</th>
          <th>Second Name</th>
          <th>Work</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Photo</th>
          <th>Action</th> <!-- Edit Button -->
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over the list of contacts passed from the controller -->
        <tr th:each="contact, iterStat : ${contacts}">
          <td th:text="${iterStat.index + 1}">1</td> <!-- Serial ID -->
          <td>
            <img th:src="@{'/img/' + ${contact.imageURL}}" alt="Contact Image" style="width: 35px; height: 35px;object-fit:cover;  border-radius: 50%;">
          <span th:text="${contact.name}"></span>
          </td>
          <td th:text="${contact.secondName}">Second Name</td>
          <td th:text="${contact.work}">Work</td>
          <td>
            <a th:href="@{'/user/contact/'+${contact.cId}}">
            <span th:text="${contact.email}"></span>
            </a>
          </td>
          <td th:text="${contact.phone}">Phone</td>
          <td>
            <!-- Edit Button -->
            <a th:href="@{/user/edit-contact/{id}(id=${contact.cId})}" class="btn btn-primary btn-sm">Edit</a>
            <a th:href="@{/user/delete-contact/{id}(id=${contact.cId})}" class="btn btn-primary btn-sm">Delete</a>
          </td>
        </tr>
        <!-- Display a message if no contacts are found -->
        <tr th:if="${#lists.isEmpty(contacts)}">
          <td colspan="8" class="text-center">No contacts found.</td>
        </tr>
        </tbody>
      </table>

      <nav aria-label="Page navigation example">

        <ul class="pagination">

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li th:if="${currentPage+1 != 0}" th:classappend="${currentPage==i-1?'active':''}"
              th:each="i : ${#numbers.sequence(1,totalPages)}"
              class="page-item">
            <a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link" href="#">
              <span th:text="${i}"></span>
            </a>
          </li>
          <li th:if="${currentPage+1 != totalPages}" class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>


    </div>
  </div>
</section>
</body>
</html>