body{
    background: #FF7F50!important;
}

.bg-primary{
    background: #34495E!important;
    color: #FDFEFE!important;
}

.banner{
    color:white;
}

.my-card{
    padding:20px;
    border:1px solid #fffff;
    border-radius: 25px;
}